In [24]:
# Creating pickle of Full_Data_df  which has sex and age in it

In [25]:
import pandas as pd
import pickle

In [26]:
xl_file="Full_Data_df_w_Yearly_Totals.xlsx"
pkl_file="Full_Data_df_w_Yearly_Totals.pkl"

In [27]:
Full_Data_df=pd.read_excel(xl_file)

In [28]:
Full_Data_df.head()

,Year,Females,Males,Offense,Unknown,unknown_fm_age,range_0_9,range_10_19,range_20_29,range_30_39,range_40_49,range_50_59,range_60_69,range_70_79,range_80_89,range_90_99
0,1999,19808,71839,aggravated-assault,2720,8230,507,21343,27759,20494,11062,3443,973,315,83,158
1,1993,9534,42631,aggravated-assault,2847,5685,313,13989,17437,11054,4415,1437,471,142,34,35
2,2004,33354,119082,aggravated-assault,4308,14984,568,34177,48528,28920,20317,6723,1717,524,129,157
3,2010,45447,150251,aggravated-assault,6402,19367,539,36847,66931,36911,25359,11928,3059,813,198,148
4,2013,42027,141578,aggravated-assault,6159,17301,453,26863,63271,39034,24078,13962,3539,861,238,164

In [29]:
Full_Data_df.to_pickle(pkl_file)